@model UserModel 
@{ 

} 
<style>
    label {
        margin-top: 10px;
    }

    input {
        margin-top: 15px;
    }
</style>
<br>
<br>
<div class="container">
    <h1>Create a new Account Today!</h1>
    <form id="registration" asp-action="createAccount" method="post">
        <div class="form-group">
            <label asp-for="username" class="control-label"></label>
            <input id="username" asp-for="username" class="form-control" />
            <span id="usernameWarning" asp-validation-for="username" class="text-danger"></span>
            <span id="usernameconfirm" class="text-success"></span>
        </div>
        <div class="form-group">
            <label asp-for="firstName" class="control-label"></label>
            <input asp-for="firstName" class="form-control" />
            <span asp-validation-for="firstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="lastName" class="control-label"></label>
            <input asp-for="lastName" class="form-control" />
            <span asp-validation-for="lastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="password" class="control-label"></label>
            <input asp-for="password" class="form-control" />
            <span  asp-validation-for="password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="passwordcnf" class="control-label"></label>
            <input asp-for="passwordcnf" class="form-control" />
            <span asp-validation-for="passwordcnf" class="text-danger"></span>
        </div>
        <div class="form-group"><button class="btn btn-primary" id="submitBtn" type="submit" style="margin-top: 20px;margin-right: 10px">Create Account</button><button class="Btn btn btn-primary" id="loginBtn" style="margin-top: 20px">Already have an account?</button></div>
    </form>
    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="/js/forms.js"></script>
    <script src="/js/validate.js" type="module"></script>
</div>